# Project exclude paths
/nacos-service-customer/target/
/nacos-service-provider/target/
/spring-cloud-alibaba-demo.iml
/.idea/
/nacos-service-customer/src/test/
/nacos-service-provider/src/test/
/nacos-config/src/test/
/nacos-config/target/
/sentinel-service/src/test/
/sentinel-service/target/
